/* Aqui iremos adicionar regras de formatação */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/tarde.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* background-size: cover faz o preenchimento da tela */
    /* back-ground=attachment: deixa a imagem parada na tela */
}
div {
    background-color: lightgray;
    width: 70%;
    margin: auto;

}

img { max-width: 100%;}