/* Aqui iremos adicionar regras de formatação */

/* seletor UNIVERSAL alterando comportamento do box model css. é bom usar isso para não dar futuros erros não esquecer */
*{ box-sizing: border-box; } 

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/tarde.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* background-size: cover faz o preenchimento da tela */
    /* back-ground=attachment: deixa a imagem parada na tela */
}
/* seletor IDENTIFICADO */
#container {
    background-color: rgba(211, 211, 211, 0.548);
    width: 70%;
    margin: auto;
    border-radius: 20px;

    /* espaçamento interno */
    padding: 16px;

    /* caixa de sombras */
    box-shadow: rgb(0, 55, 255) 5px 5px 10px, red -5px -5px 10px;

}

img { max-width: 100%;}

figure {text-align: center;}

h1 {
    font-family: impact, Verdana, arial, sans-serif;
    background-color: rgba(6, 6, 6, 0.617);
    color: rgb(221, 221, 221);
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: red 10px 5px 5px, blue -10px -5px 5px;
    font-weight: normal;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-style: solid;
    border-left-width: 20px;
    padding-left: 10px;
}
/* seletor de tags ( vale para todos os <a> */
a {text-decoration: none;}


/* Seletor Descendente */



figure img {
    transform: scale(0.9);
    transition: 1s;
    filter: grayscale(100%);
}
/* Usando a pseudo-classe :hover
(Quando passamos o mouse por cima */
figure img:hover{
    transform: scale(1) rotateX(360deg);
    filter: grayscale(0);
}

/* seletor agrupado usando , */
p, li {
    font-size: 18px;
}

/* seletor Classe */
.centralizar { text-align: center; }
.sombra { text-shadow: red 1px 1px 3px;}
.sombra2 {text-shadow: blue 1px 1px 3px;}
.destaque {
    background-color: black;
    color: white;
    padding:  3px;
    border-radius: 4px;
}
.destaque-back {
    background-color: rgba(0, 0, 255, 0.333);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 30px;
}

/* Regras para menu e os links */

nav {text-align: center;}

/*regras para estado inicial de links */
nav a {
    color: blue;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.482);
    display: inline-block;
    width: 50%;
    padding: 2%;
    border: solid rgba(17, 0, 255, 0.698) 1px;
    transition: 1s;
}

/* Regra para o estado de acionamento de links */

nav a:hover {
    background-color: rgba(0, 0, 255, 0.413);
    

}